.hello {
  background-color: #efefef;
  border: 1px solid #dedede;
}

svg {
  border: 1px solid #369;
}


.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.node {
  font-size: 12pt;
  font-weight: normal;
  color: #444;
}

.node:hover {
  font-weight: bold;
}

.link {
  stroke: #999;
}

    