.hello {
  background-color: #efefef;
  border: 1px solid #dedede;
}

#main, #sidebar {
  display: inline-block;
  vertical-align: top;
}

#main { width: 410px; }
#sidebar { width: 280px; }
.panel label {
  display: inline-block;
  width: 14ex;
  text-align: right;
}

svg {
  border: 1px solid #369;
}

svg path {
  stroke: #999;
}

svg body {
  margin: 0;
}

svg p {
  margin: 0;
  text-align: center;
}

svg p.active {
  color: red;
}